body {
    margin: 0;
}

nav {
    width: 100vw;
    background-color: rgba(70, 144, 240, 0.788);
}

nav button {
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 3vh;
}

nav li {
    list-style-type: none;
    margin: 1vw 2vw;
}

nav a {
    width: 100vw;
    text-decoration: none;
    color: black;
    padding: 1vw 2vw;
    font-family: monospace;
}

nav a:hover {
    background-color: rgba(174, 202, 238, 0.76);
}

/*change the layout of the navigation bar for all the screens 
that have a width less or equal than 500px*/

@media only screen and (max-width: 500px) {}

#home {
    background: url('http://i0.kym-cdn.com/entries/icons/original/000/000/107/smily.jpg');
    background-size: cover;
    vertical-align: middle;
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    /* display: -ms-flexbox; */
    display: flex;
    /* -webkit-box-align: center; */
    /* -webkit-align-items: center; */
    /* -ms-flex-align: center; */
    /* align-items: center; */
    min-height: 100vh;
    position: relative;
    padding-top: 12em;
}

.home-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-info h3 {
    color: #f0f0f0;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 10px 0;
}